.card {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    &__img {
        width: 250px;
        object-fit: cover;
    }
    &__right {
        display: flex;
        flex-direction: column;
        gap: 15px;
        h2 {
            font-size: 24px;
            font-weight: 700;
        }
        p {
            width: 350px;
            font-size: 20px;
            font-weight: 500;
            span {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}